@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    font-variant: small-caps;
}

header h2 {
    font-size: 1emw;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

header h2 > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header h2 > a:hover {
    text-decoration: underline;
}

header h2 > a:visited {
    color: white;
}

article > section {
    padding: 10vh 0;
}

article > section > p {
    margin: 0 60px;
    font-size: 2em;
    display: inline-block;
}

section.estrofe-img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 12px 12px -6px #0000007b, inset 0px -12px 12px -6px #0000007b;
}

section.estrofe2 {
    background-image: url(../imagens/flor-e2.jpg);
    background-position: center center;
}

section.estrofe2 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5px;
}

section.estrofe3 {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0 0 -5vw 0;
}

section.estrofe4 {
    background-color: black;
    color: white;
    text-align: right;
}

section.estrofe5 {
    background-image: url(../imagens/carta-e5.jpg);
    background-position: center center;
}

section.estrofe5 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.467);
    padding: 5px;
}

section.estrofe6 {
    padding: 0 0 -5vw 0;
}

footer {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: white;
}
